<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ziroom.mapper.BussinessMapper" >
  <resultMap id="Bussiness" type="cn.ziroom.mapper.Bussiness" >
    <id column="BUSINESS_ID" property="businessId" jdbcType="INTEGER" />
    <result column="DISTRICT_ID" property="districtId" jdbcType="INTEGER" />
    <result column="BUSSION_CODE" property="bussionCode" jdbcType="VARCHAR" />
    <result column="BUSINESS_NAME" property="businessName" jdbcType="VARCHAR" />
    <result column="BUSINESS_PINYIN" property="businessPinyin" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="column" >
    BUSINESS_ID, DISTRICT_ID, BUSSION_CODE, BUSINESS_NAME, BUSINESS_PINYIN
  </sql>
  <select id="selectList" resultMap="Bussiness" parameterType="cn.ziroom.mapper.Bussiness" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="column" />
    from t_business
  </select>
  <select id="selectById" resultMap="Bussiness" parameterType="java.lang.Integer" >
    select 
    <include refid="column" />
    from t_business
    where BUSINESS_ID = #{businessId,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from t_business
    where BUSINESS_ID = #{businessId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ziroom.mapper.Bussiness" useGeneratedKeys="true" keyProperty="businessId" >
    insert into t_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="businessId != null" >
        BUSINESS_ID,
      </if>
      <if test="districtId != null" >
        DISTRICT_ID,
      </if>
      <if test="bussionCode != null" >
        BUSSION_CODE,
      </if>
      <if test="businessName != null" >
        BUSINESS_NAME,
      </if>
      <if test="businessPinyin != null" >
        BUSINESS_PINYIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="bussionCode != null" >
        #{bussionCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessPinyin != null" >
        #{businessPinyin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="count" parameterType="cn.ziroom.mapper.Bussiness" resultType="java.lang.Integer" >
    select count(*) from t_business
  </select>
  <update id="update" parameterType="cn.ziroom.mapper.Bussiness" >
    update t_business
    <set >
      <if test="districtId != null" >
        DISTRICT_ID = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="bussionCode != null" >
        BUSSION_CODE = #{bussionCode,jdbcType=VARCHAR},
      </if>
      <if test="businessName != null" >
        BUSINESS_NAME = #{businessName,jdbcType=VARCHAR},
      </if>
      <if test="businessPinyin != null" >
        BUSINESS_PINYIN = #{businessPinyin,jdbcType=VARCHAR},
      </if>
    </set>
    where BUSINESS_ID = #{businessId,jdbcType=INTEGER}
  </update>
</mapper>